h2 {
    color:rgb(255, 17, 0);
    text-align:center;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-thickness: 2px;
    text-size-adjust: 150px;
    font-size: 65px;
}

img {
    width: 200px;
    height: 200px; 
    border-radius: 50%;
    border: 5px solid black;
    display: block;
    margin:auto;
}